@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');


* {
    margin: 0;
    padding: 0;
}

 html{
    
    font-family: 'Young Serif', serif;
} 

header {
    height: 9.8vh;
}

.navbar {
    background: #ebe9e9;
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid gray; */
    z-index: 100;
    position: fixed;
    /* height: 10vh; */
    width: 100%;


}

.nav_content {
    margin: 0.8rem 1.2rem 0.6rem 1.2rem;
    font-size: 1.3rem;
}

.navlist {
    display: flex;
    /* background-color: red; */
    list-style:none;
    margin:1.5rem 1.2rem;

}

.navlist li a {
    justify-content: space-evenly;
    text-decoration: none;
    margin: 2rem 1.2rem 1rem 1.2rem;
    font-size: 1.3rem;
    color: black;
}

.navlist li:hover {
    cursor: pointer;
}

.select {

    font-size: 1.3rem;
    font-family: 'Young Serif', serif;
    border: none;
    background-color: none;

}

.logo {
    display: flex;
}

.logo img {
    width: 2.8rem;
    align-items: center;
    margin-right: 0.6rem;
    margin-left: 1rem;
    justify-content: center;
}

.logo span {
    color: #6674CC;
}

.button {
    font-size: 1.2rem;
    border-radius: 5px;
    border: 2px solid #6674CC;
    margin-right: 1.3rem;
    font-family: 'Young Serif', serif;
}

#navbtn {
    /* margin:0.3rem 0.8rem 0.3rem 0.8rem; */
    padding: 0.5rem 0.9rem 0.5rem 0.9rem;


}

#navbtn2 {
    /* margin:0.3rem 0.8rem 0.3rem 0.8rem; */
    padding: 0.5rem 2rem 0.5rem 2rem;
    background: #6674CC;

}


/* main section */
.main {
    height: 100%;
    width: 100%;
    /* background-color: red; */
    overflow: hidden;
}

.firstview {
    height: 80%;
    background-color: #6674CC;
    /* border: 3px solid red; */
    display: flex;

}

.shortabout {
    /* background: #189fd8; */
    padding: 2.3rem 0.3rem 1.3rem 2.3rem;
    margin: 7rem 2rem 5rem 12rem;
    height: 70%;
    width: 45%;
    font-size: 2rem;

}

.shortabout p {
    font-size: 1.5rem;
    line-height: 2rem;
}

#element {
    font-weight: 700;
    color: rgb(125, 33, 211);
    font-size: 1.8rem;
    text-align: center;
}

.btn {
    margin:0.5rem 0.7rem 0.5rem 0rem;
    padding: 0.7rem;
    border-radius: 0.4rem;
    font-family: 'Young Serif', serif;
    font-weight: 600;
}

.btn :hover{
    background: #dfcccc;
    box-shadow: 5px 5px;
    cursor: pointer;
}
.image {
    /* background: #2929df; */
    margin: 0rem 2.3rem 0.3rem 0.3rem;
    height: 100%;
    width: 40%;
}

.image img {
    margin-top: 4.6rem;
    margin-right: 5rem;
    height: 70vh;

}

/* section 2 */
.about {
    display: flex;
    /* background: red; */
}

.secabout {
    width: 40%;
    height: 60vh;
    margin: 5rem 0rem 2rem 5rem;
    padding: 3rem 0rem 0rem 3rem;
    font-size: 1.5rem;
    /* background: #93c72a; */
}

.secabout p {
    line-height: 2rem;
    text-align: justify;
}


#name span {
    color: white;
    font-weight: bold;
}

.myimg img {
    width: 100%;
    height: 70vh;
    margin: 2rem 5rem 2rem 3rem;
    border-radius: 2rem;
    filter: drop-shadow(10px 10px 10px rgb(72, 50, 50));
    /* background: #30dd89; */
    z-index: -1;
}



/* project section */

.project {
    display: flex;
    flex-direction: column;
}

.projectheader {
    width: 100%;
    height: 10vh;
    display: flex;
    margin: 3rem 3rem 0rem 3rem;
    /* background: #d4d94f; */
    justify-content: space-around;
    /* border-bottom: 2px solid black; */

}

#projectbtn {
    margin: 0.5rem;
    padding: 0.5rem;
    background: #6674CC;
    color: white;
    font-size: 1.5rem;
    font-family: 'Young Serif', serif;
    border: none;
    border-radius: 0.5rem;
}

.projectheader h1 {
    margin: 1rem;
    font-size: 1.8rem;
    font-family: 'Young Serif', serif;
}

.projectheader h1 span {
    color: #6674CC;
}

.project hr {
    width: 80%;

    margin-left: 10rem;

}

/* profile */

#profilephoto {
    height: 40vh;
    width: 100%;
    /* background: #b73434; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* .profilephoto {
    background: #351288;
    width: 70%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.profile img {
    background: #35b66b;
    width: 30vh;
    height: 30vh;
    border-radius: 100%;

}

#profilename {
    margin-left: 2.1rem;
}






/* projectdetail */

/* .project{
    min-height: 50vh;
} */
.projectdetail h2 {
    margin-top: 40px;
    text-align: center;
    font-family: 'Young Serif', serif;
}

.boxes {
    display: flex;
    /* width: 112px;
    height: 10vh; */
    /* background-color: #e441de; */
    /* border: 3px solid red; */
    margin-bottom: 40px;
    justify-content: center;
   
    flex-wrap: wrap;

}

.boxe1 {
    border: 2px solid green;
    padding: 12px;
    margin: 30px;
    width: 20%;
    height: 33vh;
    background-color: #dcd983;
    font-size: 15px;
    font-family: 'Young Serif', serif;
    border-radius: 20px;
}
.boxe1 p{
    margin-top:1rem;
    justify-content: center;
}

.boxe1 p {
    margin-top:1rem;
    justify-content: center;
}

.boxe2 {
    border: 2px solid rgb(134, 30, 30);
    padding: 12px;
    margin: 30px;
    width: 20%;
    height: 33vh;
    background-color: #dcd983;
    font-size: 15px;
    font-family: 'Young Serif', serif;
    border-radius: 20px;
}

.boxe2 p {
    margin-top: 1rem;
    justify-content: center;
}

.boxe3 {
    border: 2px solid rgb(5, 65, 121);
    padding: 12px;
    margin: 30px;
    width: 20%;
    height: 33vh;
    background-color: #dcd983;
    font-size: 15px;
    font-family: 'Young Serif', serif;
    border-radius: 20px;
}

.boxe3 p {
    margin-top: 8px;
    justify-content: center;
}




/* skill */
.skill {
    display: flex;
    flex-wrap: wrap;
    /* background: #000; */

}

.skillcontainer {
    width: 700px;
    margin-left: 5rem;
    padding: 2rem 3rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* background: #7b2b2b; */

}

.section-title {
    font-family: 'Young Serif', serif;
    font-size: 24px;
    margin-bottom: 20px;
}

.skill {
    margin-bottom: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.skill-name {
    font-weight: bold;
}

.skill-level {
    width: 70%;
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 5px;
}

.html {
    background-color: #f16529;
    margin-left: 5rem;
}

.css {
    background-color: #2965f1;
    margin-left: 6.2rem;
}

.javascript {
    background-color: #f1db4e;
    margin-left: 3.3rem;
}

.Core-JAVA {
    background-color: #74f6f6;
    margin-left: 0.4rem;
}

.PYTHON {
    background-color: #e260e6;
    margin-left: 3.5rem;
}


.skill-image img {
    width: 30vw;
    /* background: #4d9851; */
    margin-left: 3rem;
}



/* footer */

.footer-content {
    background: rgb(92, 92, 200);
    text-align: center;
    padding: 30px;
    color: white;
}

/* .footer-content i {
    width: 2rem;
    height: 2rem;

} */
.social-icon a i{
    width: 3rem;
    height: 3rem;
}

/* media query 1441 */

@media screen and (max-width:1441px) {
    .image {
       width: 69%;
   }

   .image img {
       margin: 2rem 2.3rem 0.3rem 2.3rem;
       width: 90%;
       height: 60%;

   }
     .secabout {
      
       margin: 2rem 2rem 1rem 1rem;
      
   }
    .myimg img {
       width: 97%;
       height: 65vh;
       margin: 3rem 1rem 0.5rem 2rem;
      

   }
}

@media screen and (max-width:1285px) {


    header {
        height: 6.5vh;
    }

    .about {
        /* display: flex; */
        /* background: red;   */
        margin-bottom: 2.5rem;
        height: 60vh;
    }

    .shortabout {
        /* background: #189fd8;  */
        margin: 7rem 2rem 5rem 5rem;

    }

    .image {
        /* background: #2929df; */
        margin: 0rem 3.3rem 1.3rem 0.3rem;
        height: 100%;
        width: 45%;
    }

    .image img {

        margin-right: 3rem;
        height: 45vh;

    }

    .secabout {

        margin: 0.6rem 1rem 1rem 3rem;
        padding: 3rem 0rem 0rem 3rem;
        font-size: 1.8rem;

    }
.myimg{
    /* background-color:red; */
    height:60vh;
      width:50vw;
   
}
    .myimg img {
         width:40vw;
        height: 55vh;
        margin: 2rem 0rem 2rem 3.5rem;
flex-wrap:wrap;

    }

    .projectheader {
        width: 95%;
        height: 10vh;
        display: flex;
        margin: 0rem 2rem 0rem 2rem;
        /* background: #d4d94f; */
        justify-content: space-between;
        /* border-bottom: 2px solid black; */

    }


    #projectbtn {
        margin: 0.7rem;
        padding: 0.7rem;

        font-size: 2rem;
    }

    .projectheader h1 {
        margin: 2rem 1rem 0.4rem 1rem;
        font-size: 3rem;
    }

    .project hr {
        width: 94%;

        margin-left: 2.2rem;

    }

    .boxe-content {
        text-align: justify;
    }

    #profilename {
        margin-left: 4.2rem;
        font-size: 1.8;
    }


    .skillcontainer {
        width: 48vw;
        margin-left: 3rem;
        padding: 2rem 2rem;

        /* background: #7b2b2b; */


    }

    .skill-image img {
        margin-top: 3rem;
        /* background: #4d9851; */
        margin-left: 3rem;
    }

}

@media screen and (max-width:1025px) {
 #navbtn2 {
        display: none;
    }
    
.navlist {
    display:none;
}

     .shortabout {
        /* padding: 2.3rem 0.3rem 1.3rem 2.3rem; */
        margin: 2.5rem 1rem 0.4rem 0.5rem;
        /* height: 40%; */
        width: 80%;
         /* background-color:red; */
        /* font-size: 1.5rem; */
    }
    .image {
        width: 69%;
    }
.image img {
        margin: 3rem 7.3rem 0.3rem 1.3rem;
        width: 100%;
        height: 70%;

    }
    .about {
    /* display: flex; */
    /* background: red; */
        height:100%;
}
    .secabout {

        height: 60vh;
        width: 55vw;
        margin: 1rem 1rem 2rem 1rem;
        padding: 2rem 0rem 0rem 2rem;

        /* background-color: #93c72a; */
    }

    .myimg img {
        width: 85%;
        height: 63vh;
        margin: 2rem 1rem 1rem 1rem;
        border-radius: 2rem;



    }

    #projectbtn {
        margin: 1.5rem 2.5rem 0.5rem 0.5rem;

    }

    .projectheader h1 {
        margin: 2.5rem 0rem 2rem 2rem;
        font-size: 2.9rem;
    }

    .boxe-content {
        width: 70vw;
        height:20vh;
    }

    #profilename {
        margin-left: 4.2rem;
        font-size: 1.8;
    }

    .skill {
        display: flex;
        /* flex-direction:column; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }

    .skillcontainer {
        width: 80%;
        margin-left: 1rem;
        padding: 1rem 1rem;
        background-color: #fff;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
        /* background: #7b2b2b; */

    }

    .skill-image img {
        width: 60vw;
        margin-top: 1.5rem;
        /* background: #4d9851; */
        margin-left: 1rem;
    }


}


@media screen and (max-width:835px) {

   

    .navlist {
        display: none;
    }

    .navlist select {
        margin-top: 1.5rem;
    }

    #navbtn2 {
        /* display: none; */
        margin-right: 0rem;
    }

    .firstview {
        flex-direction: column;
    }

    .shortabout {
        padding: 2.3rem 0.3rem 1.3rem 2rem;
        margin: 1rem 2rem 0.4rem 2rem;
        height: 40%;
        width: 84%;
       /* display:flex; */
        flex-direction:column;
        /* background-color:red; */
        /* font-size: 1.5rem; */
    }
.shortabout h1{
       text-align:center;
}
    .shortabout h4{
       text-align:center;
}
    .shortabout p{
       text-align:center;
}
#element{
      margin-left:13rem;
}
    .btn{
       
        text-align:center;
}
    .image {
        width: 60%;
       
    }

    .image img {
        margin: 0rem 4.3rem 0.3rem 11rem;
        width: 100%;
        height: 70%;

    }

    .about {
        flex-direction: column;
        height: 50%;
        /* background-color:green; */
    }

    .secabout {
        width: 85%;
        height: 30vh;
        margin: 1rem 2rem 1rem 2rem;
        padding: 2rem 2rem 0rem 2rem;
        font-size: 1.5rem;
        /* background: #93c72a; */
    }

    .myimg {
        margin-left: 1rem;
        margin-right: 1rem;
        width:88vw;
    }

    .myimg img {
        width: 100%;
        height: 50vh;
        margin: 3rem 2rem 3.5rem 2rem;
        /* filter: drop-shadow(2px 5px 5px rgb(72, 50, 50)); */

    }



    /* project */
    .projectheader {

        width: 85%;
        margin: 1rem 0rem 0rem 3rem;
        padding: 0rem;
        /* background: #d4d94f; */
        justify-content: space-between;
        /* border-bottom: 2px solid black; */


    }

    #projectbtn {
        margin: 2rem 2rem 0.2rem 2.9rem;
        padding: 0rem 0.5rem 0rem 0.5rem;

        font-size: 1.5rem;
    }

    .projectheader h1 {
        margin: 2.6rem 1rem 1rem 1.5rem;
        font-size: 2.5rem;
    }

    .project hr {
        width: 80%;
        margin-left: 3.5rem;

    }

    .boxe-content {
        border: 2px solid green;
        padding: 12px;
        margin: 1rem;
        width: 80%;
        height: 13vh;
        text-align: justify;
        background-color: #dcd983;
        font-size: 15px;
        font-family: 'Young Serif', serif;
        border-radius: 20px;
    }

    .skill {
        display: flex;
        /* flex-direction:column; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }

    .skillcontainer {
        width: 80%;
        margin-left: 1rem;
        padding: 1rem 1rem;
        background-color: #fff;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
        /* background: #7b2b2b; */

    }

    .skill-image img {
        width: 60vw;
        margin-top: 1.5rem;
        /* background: #4d9851; */
        margin-left: 1rem;
    }



}


@media screen and (max-width:769px) {
   

   

    .navlist {
        display: none;
    }

    .navlist select {
        margin-top: 1.5rem;
    }

    #navbtn2 {
        /* display: none; */
        margin-right: 0rem;
    }

    .firstview {
        flex-direction: column;
    }

    .shortabout {
        padding: 2.3rem 0.3rem 1.3rem 1rem;
        margin: 1rem 2rem 0.4rem 2rem;
        height: 40%;
        width: 81%;
       /* display:flex; */
        flex-direction:column;
        /* background-color:red; */
        /* font-size: 1.8rem; */
    }
.shortabout h1{
       text-align:center;
}
    .shortabout h4{
       text-align:center;
}
    .shortabout p{
       text-align:center;
}
#element{
      margin-left:7rem;
}
    .btn{
       
        text-align:center;
}
    .image {
        width: 72%;
       
    }

    .image img {
        margin: 0rem 5rem 0.3rem 4rem;
        width: 100%;
        height: 70%;

    }

    .about {
        flex-direction: column;
        height: 100%;
        /* background-color:green; */
    }

    .secabout {
        width: 87%;
        height: 50vh;
        margin: 1rem 1rem 0rem 1rem;
        padding: 6rem 2rem 0rem 1rem;
        font-size: 1.5rem;
        /* background: #93c72a; */
    }

    .myimg {
        margin-left: 1rem;
        margin-right: 1rem;
        width:88vw;
    }

    .myimg img {
        width: 100%;
        height: 50vh;
        margin: 1rem 1rem 3.5rem 1rem;
        /* filter: drop-shadow(2px 5px 5px rgb(72, 50, 50)); */

    }



    /* project */
    .projectheader {

        width: 85%;
        margin: 1rem 0rem 0rem 3rem;
        padding: 0rem;
        /* background: #d4d94f; */
        justify-content: space-between;
        /* border-bottom: 2px solid black; */


    }

    #projectbtn {
        margin: 2.5rem 1rem 0.2rem 1rem;
        padding: 0rem 0.4rem 0rem 0.4rem;

        font-size: 1.1rem;
    }

    .projectheader h1 {
        margin: 3rem 1rem 1rem 1rem;
        font-size:1.8rem;
    }

    .project hr {
        width: 80%;
        margin-left: 3.5rem;

    }

    .boxe-content {
        border: 2px solid green;
        padding: 12px;
        margin: 1rem;
        width: 80%;
        height: 20vh;
        text-align: justify;
        background-color: #dcd983;
        font-size: 15px;
        font-family: 'Young Serif', serif;
        border-radius: 20px;
    }

     .skill {
        display: flex;
        /* flex-direction:column; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }

    .skillcontainer {
        width: 80%;
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 0rem 0rem;
        background-color: #fff;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
        /* background: #7b2b2b; */

    }



    .skill-level {
        width: 50%;
        background-color: #e0e0e0;
        border-radius: 5px;
        padding: 5px;
    }

    .html {
        background-color: #f16529;
        margin-left: 5rem;
    }

    .css {
        background-color: #2965f1;
        margin-left: 6.2rem;
    }

    .javascript {
        background-color: #f1db4e;
        margin-left: 3.3rem;
    }

    .Core-JAVA {
        background-color: #74f6f6;
        margin-left: 0.4rem;
    }

    .PYTHON {
        background-color: #e260e6;
        margin-left: 3.5rem;
    }


    .skill-image img {
        width: 65vw;
        margin-top: 1.5rem;
        /* background: #4d9851; */
        margin-left: 1rem;
        margin-right: 1rem;
    }

}


@media screen and (max-width:481px) {

    .firstview {
        flex-direction: column;
    }

    .navlist {
        display: none;
    }

    .navlist select {
        margin-top: 1.5rem;
    }

    #navbtn2 {
        display: none;
    }

    .shortabout {
        /* padding: 2.3rem 0.3rem 1.3rem 2.3rem; */
        margin: 1rem 1rem 0.4rem 0.7rem;
        height: 40%;
        width: 90%;
       /* background-color:red; */
        /* font-size: 1.5rem; */
    }
    #element{
      margin-left:6rem;
}

    .image {
        width: 69%;
    }

    .image img {
        margin: 0rem 2.3rem 0.3rem 3.3rem;
        width: 100%;
        height: 70%;

    }

    .about {
        flex-direction: column;
        /* background-color:red; */
        
    }

    .secabout {
        width: 78%;
        height: 60vh;
        margin: 2rem 2rem 1rem 2rem;
        padding: 2rem 1rem 0rem 1rem;
        font-size: 1.5rem;
        /* background: #93c72a; */
    }

    .myimg img {
        width: 97%;
        height: 55vh;
        margin: 0rem 1rem 0.5rem 1rem;
        filter: drop-shadow(2px 5px 5px rgb(72, 50, 50));

    }



    /* project */
    .projectheader {

        height: 7vh;
        margin: 2rem 2rem 0rem 2rem;
        /* padding: 0rem; */
        /* background: #d4d94f; */
        justify-content: space-between;
        /* border-bottom: 2px solid black; */

    }

    #projectbtn {
        margin: 1.3rem 1rem 0.2rem 1rem;
        padding: 0rem 0.5rem 0rem 0.5rem;

        font-size: 1rem;


    }

    .projectheader h1 {
        margin: 2rem 1rem 0.5rem 1rem;
        font-size: 1.5rem;
    }

    .project hr {
        width: 85%;
        margin-left: 2rem;

    }



    .boxe-content {
        border: 2px solid green;
        padding: 1rem;
        margin: 1rem;
        width: 80%;
        height: 22vh;
        text-align: justify;
        background-color: #dcd983;
        font-size: 15px;
      
        border-radius: 20px;
    }

    .skill {
        display: flex;
        /* flex-direction:column; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }

    .skillcontainer {
        width: 80%;
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 0rem 0rem;
        background-color: #fff;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
        /* background: #7b2b2b; */

    }



    .skill-level {
        width: 50%;
        background-color: #e0e0e0;
        border-radius: 5px;
        padding: 5px;
    }

    .html {
        background-color: #f16529;
        margin-left: 5rem;
    }

    .css {
        background-color: #2965f1;
        margin-left: 6.2rem;
    }

    .javascript {
        background-color: #f1db4e;
        margin-left: 3.3rem;
    }

    .Core-JAVA {
        background-color: #74f6f6;
        margin-left: 0.4rem;
    }

    .PYTHON {
        background-color: #e260e6;
        margin-left: 3.5rem;
    }


    .skill-image img {
        width: 65vw;
        margin-top: 1.5rem;
        /* background: #4d9851; */
        margin-left: 1rem;
        margin-right: 1rem;
    }

}



@media screen and (max-width:426px) {

    .firstview {
        flex-direction: column;
    }

    .navlist {
        display: none;
    }

    .navlist select {
        margin-top: 1.5rem;
    }

    #navbtn2 {
        display: none;
    }

    .shortabout {
        /* padding: 2.3rem 0.3rem 1.3rem 3.3rem; */
        margin: 1rem 1rem 0.4rem 0.5rem;
        height: 40%;
        width: 90%;
        /* background-color:red; */
        /* font-size: 1.5rem; */
    }

     #element{
      margin-left:5rem;
}
   
    .image {
        width: 69%;
    }

    .image img {
        margin: 0rem 2.3rem 0.3rem 3.3rem;
        width: 100%;
        height: 70%;

    }

    .about {
        flex-direction: column;
        /* background-color:red; */
        height:125vh;
    }

    .secabout {
        width: 82%;
        height: 65vh;
        margin: 2rem 1rem 1rem 1rem;
        padding: 2rem 1rem 0rem 1rem;
        font-size: 1.5rem;
        /* background: #93c72a; */
    }
    
    

    .myimg img {
        width: 96%;
        height: 50vh;
        margin: 0rem 1rem 0rem 1rem;
        filter: drop-shadow(2px 5px 5px rgb(72, 50, 50));

    }



    /* project */
    .projectheader {


        margin: 0rem 0rem 0rem 2rem;
        /* padding: 0rem; */
        /* background: #d4d94f; */
        justify-content: space-between;
        /* border-bottom: 2px solid black; */

    }

    #projectbtn {
        margin: 1.9rem 0.7rem 0.2rem 2rem;
        padding: 0rem 0.5rem 0rem 0.5rem;

        font-size: 1rem;


    }

    .projectheader h1 {
        margin: 2.2rem 1rem 0.5rem 0rem;
        font-size: 1.3rem;
    }

    .project hr {
        width: 85%;
        margin-left: 1.9rem;

    }



    .boxe-content {
        border: 2px solid green;
        padding: 1rem;
        margin: 1rem;
        width: 70%;
        height: 27vh;
        text-align: justify;
        background-color: #dcd983;
        font-size: 15px;
       
        border-radius: 20px;
    }

    .skill {
        display: flex;
        /* flex-direction:column; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }

    .skillcontainer {
        width: 85%;
        margin-left: 1rem;
        padding: 0.4rem 0rem;
        background-color: #fff;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
        /* background: #7b2b2b; */

    }



    .skill-level {
        width: 50%;
        background-color: #e0e0e0;
        border-radius: 5px;
        padding: 5px;
    }

    .html {
        background-color: #f16529;
        margin-left: 5rem;
    }

    .css {
        background-color: #2965f1;
        margin-left: 6.2rem;
    }

    .javascript {
        background-color: #f1db4e;
        margin-left: 3.3rem;
    }

    .Core-JAVA {
        background-color: #74f6f6;
        margin-left: 0.4rem;
    }

    .PYTHON {
        background-color: #e260e6;
        margin-left: 3.5rem;
    }


    .skill-image img {
        width: 65vw;
        margin-top: 1.5rem;
        /* background: #4d9851; */
        margin-left: 1rem;
    }

}




@media screen and (max-width:385px) {

    .firstview {
        flex-direction: column;
    }

    .navlist {
        display: none;
    }

    .navlist select {
        margin-top: 1.5rem;
    }

    #navbtn2 {
        display: none;
    }

    .shortabout {
        /* padding: 2.3rem 0.3rem 1.3rem 0.3rem; */
        margin: 0rem 0.5rem  0.4rem 0.5rem;
        height: 40%;
        width: 92%;
        /* background-color:red; */
        font-size: 1.6rem;
    }

     #element{
      margin-left:4rem;
}
   
    .image {
        width: 69%;
    }

    .image img {
        margin: 0rem 2.3rem 0.3rem 3.3rem;
        width: 100%;
        height: 70%;

    }

    .about {
        flex-direction: column;
        /* background-color:red; */
        height:135vh;
    }

    .secabout {
        width: 82%;
        height: 75vh;
        margin: 2rem 1rem 1rem 1rem;
        padding: 2rem 1rem 0rem 1rem;
        font-size: 1.5rem;
        /* background: #93c72a; */
    }
    
    

    .myimg img {
        width: 96%;
        height: 50vh;
        margin: 2rem 1rem 0rem 1rem;
        filter: drop-shadow(2px 5px 5px rgb(72, 50, 50));

    }



    /* project */
    .projectheader {


        margin: 0rem 0rem 0rem 2rem;
        /* padding: 0rem; */
        /* background: #d4d94f; */
        justify-content: space-between;
        /* border-bottom: 2px solid black; */

    }

    #projectbtn {
        margin: 1.9rem 0.7rem 0.2rem 2rem;
        padding: 0rem 0.5rem 0rem 0.5rem;

        font-size: 0.8rem;


    }

    .projectheader h1 {
        margin: 2.2rem 1rem 0.5rem 0rem;
        font-size: 1.3rem;
    }

    .project hr {
        width: 85%;
        margin-left: 1.9rem;

    }



    .boxe-content {
        border: 2px solid green;
        padding: 1rem;
        margin: 1rem;
        width: 70%;
        height: 27vh;
        text-align: justify;
        background-color: #dcd983;
        font-size: 15px;
       
        border-radius: 20px;
    }

    .skill {
        display: flex;
        /* flex-direction:column; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }

    .skillcontainer {
        width: 85%;
        margin-left: 1rem;
        padding: 0.4rem 0rem;
        background-color: #fff;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
        /* background: #7b2b2b; */

    }



    .skill-level {
        width: 50%;
        background-color: #e0e0e0;
        border-radius: 5px;
        padding: 5px;
    }

    .html {
        background-color: #f16529;
        margin-left: 5rem;
    }

    .css {
        background-color: #2965f1;
        margin-left: 6.2rem;
    }

    .javascript {
        background-color: #f1db4e;
        margin-left: 3.3rem;
    }

    .Core-JAVA {
        background-color: #74f6f6;
        margin-left: 0.4rem;
    }

    .PYTHON {
        background-color: #e260e6;
        margin-left: 3.5rem;
    }


    .skill-image img {
        width: 65vw;
        margin-top: 1.5rem;
        /* background: #4d9851; */
        margin-left: 1rem;
    }

}

/* complete */

@media screen and (max-width:361px) {


    /* .main{
        width:100%;
        overflow:hidden;
    } */
    .firstview {
        flex-direction: column;
         overflow:hidden;
        /* width:100%; */
    }

    .navlist {
        display: none;
    }

    .navlist select {
        margin-top: 1.5rem;
    }

    #navbtn2 {
        display: none;
    }

    .shortabout {
        padding: 2.3rem 0.2rem 1.3rem 0.2rem;
        margin: 0rem 0.5rem  0.4rem 0rem;
        height: 40%;
        width: 100%;
        /* background-color:red; */
        font-size:0.9rem;
    }

     #element{
      margin-left:4rem;
}
   
    .image {
        width: 69%;
    }

    .image img {
        margin: 0rem 2.3rem 0.3rem 3.3rem;
        width: 100%;
        height: 70%;

    }

    .about {
        flex-direction: column;
        /* background-color:red; */
        height:135vh;
    }

    .secabout {
        width: 82%;
        height: 78vh;
        margin: 2rem 1rem 1rem 1rem;
        padding: 2rem 1rem 0rem 1rem;
        font-size: 1.5rem;
        /* background: #93c72a; */
    }
    
    

    .myimg img {
        width: 96%;
        height: 50vh;
        margin: 2rem 1rem 0rem 1rem;
        filter: drop-shadow(2px 5px 5px rgb(72, 50, 50));

    }



    /* project */
    .projectheader {


        margin: 0rem 0rem 0rem 2rem;
        /* padding: 0rem; */
        /* background: #d4d94f; */
        justify-content: space-between;
        /* border-bottom: 2px solid black; */

    }

    #projectbtn {
        margin: 1.9rem 0.7rem 0.2rem 2rem;
        padding: 0rem 0.5rem 0rem 0.5rem;

        font-size: 0.8rem;


    }

    .projectheader h1 {
        margin: 2.5rem 1rem 0.5rem 0rem;
        font-size: 1rem;
    }

    .project hr {
        width: 85%;
        margin-left: 1.9rem;

    }



    .boxe-content {
        border: 2px solid green;
        padding: 1rem;
        margin: 1rem;
        width: 70%;
        height: 27vh;
        text-align: justify;
        background-color: #dcd983;
        font-size: 15px;
       
        border-radius: 20px;
    }
.skill {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }

    .skillcontainer {
        width: 85%;
        margin-left: 1rem;
        padding: 0.6rem 0.3rem;
        background-color: #fff;
        display: flex;

        flex-direction: column;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
        /* background: #7b2b2b; */

    }
    .skillcontainer h1{
        text-align: center;
    }

    .skill-level {
        width: 90%;
        background-color: #e0e0e0;
        border-radius: 5px;
        padding: 3px;
    }

    .html {
        background-color: #f16529;
        margin-left: 0rem;
        margin-top: 0.5rem;
    }

    .css {
        background-color: #2965f1;
        margin-left: 0rem;
        margin-top: 0.5rem;
    }

    .javascript {
        background-color: #f1db4e;
        margin-left: 0rem;
        margin-top: 0.5rem;
    }

    .Core-JAVA {
        background-color: #74f6f6;
        margin-left: 0rem;
        margin-top: 0.5rem;
    }

    .PYTHON {
        background-color: #e260e6;
        margin-left: 0rem;
        margin-top: 0.5rem;
    }

}
@media screen and (max-width:321px) {


    /* .main{
        width:100%;
        overflow:hidden;
    } */
    .firstview {
        flex-direction: column;
         overflow:hidden;
        /* width:100%; */
    }

    .navlist {
        display: none;
    }

    .navlist select {
        margin-top: 1.5rem;
    }

    #navbtn2 {
        display: none;
    }

    .shortabout {
        padding: 2.3rem 0.2rem 1.3rem 0.2rem;
        margin: 0rem 0.5rem  0.4rem 0rem;
        height: 40%;
        width: 100%;
        /* background-color:red; */
        font-size:0.9rem;
    }

     #element{
      margin-left:4rem;
}
   
    .image {
        width: 69%;
    }

    .image img {
        margin: 0rem 2.3rem 0.3rem 3.3rem;
        width: 100%;
        height: 70%;

    }

    .about {
        flex-direction: column;
        /* background-color:red; */
        height:100%;
    }

    .secabout {
        width: 82%;
        height: 75vh;
        margin: 2rem 1rem 1rem 1rem;
        padding: 2rem 1rem 0rem 1rem;
        font-size: 1.1rem;
        /* background: #93c72a; */
    }
    
    

    .myimg img {
        width: 96%;
        height: 50vh;
        margin: 2rem 1rem 0rem 1rem;
        filter: drop-shadow(2px 5px 5px rgb(72, 50, 50));

    }



    /* project */
    .projectheader {

width:98%;
        margin: 0rem 0rem 0rem 1rem;
        /* padding: 0rem; */
        /* background: #d4d94f; */
        justify-content: space-between;
        /* border-bottom: 2px solid black; */

    }

    #projectbtn {
        margin: 1.9rem 0.7rem 0.2rem 2rem;
        padding: 0rem 0.5rem 0rem 0.5rem;

        font-size: 0.8rem;


    }

    .projectheader h1 {
        margin: 2.7rem 1rem 0.5rem 0rem;
        font-size: 0.8rem;
    }

    .project hr {
        width: 85%;
        margin-left: 1.9rem;

    }
    .profile img{
        width:90%;
        margin:0rem 1rem;
    }
    .profilephoto h2{
        margin-left:1rem;
    }



    .boxe-content {
        border: 2px solid green;
        padding: 1rem;
        margin: 1rem;
        width: 70%;
        height: 35vh;
        text-align: justify;
        background-color: #dcd983;
        font-size: 15px;
       
        border-radius: 20px;
    }
.skill {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }

    .skillcontainer {
        width: 85%;
        margin-left: 1rem;
        padding: 0.6rem 0.3rem;
        background-color: #fff;
        display: flex;

        flex-direction: column;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
        /* background: #7b2b2b; */

    }
    .skillcontainer h1{
        text-align: center;
    }

    .skill-level {
        width: 90%;
        background-color: #e0e0e0;
        border-radius: 5px;
        padding: 3px;
    }

    .html {
        background-color: #f16529;
        margin-left: 0rem;
        margin-top: 0.5rem;
    }

    .css {
        background-color: #2965f1;
        margin-left: 0rem;
        margin-top: 0.5rem;
    }

    .javascript {
        background-color: #f1db4e;
        margin-left: 0rem;
        margin-top: 0.5rem;
    }

    .Core-JAVA {
        background-color: #74f6f6;
        margin-left: 0rem;
        margin-top: 0.5rem;
    }

    .PYTHON {
        background-color: #e260e6;
        margin-left: 0rem;
        margin-top: 0.5rem;
    }

}

